/settings.js
/settings.ts
/*.iml
/.idea
/node_modules/
/.codio
/.vscode
/.DS_Store
/src/**.js
/test/**.js
/settings.d.ts
/settings.js.map
/src/**/*.js
/src/**/*.d.ts
/src/**/*.js.map
/test/**/*.js
/test/**/*.d.ts
/test/**/*.js.map
/build/
.DS_Store
/settings.credentials.ts
