/*.iml
/**/.DS_Store
/.idea
/node_modules/
/www/node_modules/
/.codio
/.vscode
/.alm
/.DS_Store
/src/**.js
/test/**.js
/config.js
/config.d.ts
/config.js.map
/src/**/*.js
/src/**/*.d.ts
/src/**/*.js.map
/bin/**/*.js
/bin/**/*.d.ts
/bin/**/*.js.map
/www/src/**/*.js
/www/src/**/*.d.ts
/www/src/**/*.js.map
/*.js
/*.d.ts
/*.js.map
/test/**/*.js
/test/**/*.d.ts
/test/**/*.js.map
/build/
.DS_Store
/config-private.*
/config-accounts.*
/config-credentials.*
/config-users.*
/error.log
/combined.log
/snapshot-exception.json
/snapshot.json
/typings/machines/**/*.js
/typings/machines/**/*.js.map
/typings/machines/**/*.d.ts
/logs/
/wiki/
/static/privacy-policy-output.html
/package-lock.json
/wiki/cost.md
