/*.iml
/.idea
/node_modules/
/.codio
/.vscode
/.DS_Store
/src/**.js
/test/**.js
/config.js
/config.d.ts
/config.js.map
/src/**/*.js
/src/**/*.d.ts
/src/**/*.js.map
/test/**/*.js
/test/**/*.d.ts
/test/**/*.js.map
/build/
.DS_Store
/config-credentials.*
/config-users.*
/error.log
/combined.log
/snapshot-exception.json
/snapshot.json
/typings/machines/**/**.js
/typings/machines/**/**.js.map
/typings/machines/**/**.d.ts
/logs/
/wiki/
/static/privacy-policy-output.html
/package-lock.json
/wiki/cost.md
