html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: auto !important;
  color: #444;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman',
    serif;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0 1em 1em 1em;
  margin: auto;
  max-width: 42em;
  background: white !important;
  position: relative;
}

a {
  color: #15c;
  text-decoration: none;
}
a:visited {
  color: #15c;
}
a:hover {
  color: #15c;
  text-decoration: underline;
}
a:active {
  color: #15c;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: #111;
  line-height: 1em;
}
h4,
h5,
h6 {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}
hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}
pre,
code,
kbd,
samp {
  color: #000;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em;
}
code {
  background-color: lightgrey;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
li p:last-child {
  margin: 0;
}
dd {
  margin: 0 0 0 2em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
th {
  border-bottom: 1px solid black;
}
td {
  vertical-align: top;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  body {
    font-size: 12pt;
    max-width: 100%;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  hr {
    height: 1px;
    border: 0;
    border-bottom: 1px solid black;
  }
  a[href]:after {
    content: ' (' attr(href) ')';
  }
  abbr[title]:after {
    content: ' (' attr(title) ')';
  }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  pre,
  blockquote {
    border: 1px solid #999;
    padding-right: 1em;
    page-break-inside: avoid;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page :left {
    margin: 15mm 20mm 15mm 10mm;
  }
  @page :right {
    margin: 15mm 10mm 15mm 20mm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

footer {
  text-align: center;
  margin-top: 1em;
}

/* LOGO */

h1.logo {
  margin-bottom: 0.2em;
}

h4.logo {
  color: dimgray;
  margin-top: 0;
}

/* MENU */

nav.menu ol {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

nav.menu li {
  display: block;
  list-style-type: none;
  padding: 0.3em 1em 0.7em 1em;
}

nav.menu li a,
nav.menu li a:active,
nav.menu li a:visited,
nav.menu li a:hover {
  cursor: pointer;
  color: dimgray;
  font-weight: 600;
  text-decoration: none;
}

nav.menu li.selected {
  border-bottom: 3px solid #4785e9;
}

nav.menu li.selected a {
  color: #4285f4;
}

/* TODO write a generator */
.label {
  line-height: 1.9em;
  border-radius: 4px;
  font-size: 12px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  padding: 2px 4px;
  font-weight: 500;
}

.label.next-action {
  background-color: #fb4c2f;
  color: #ffffff;
  border-color: #fb4c2f;
}

.label.action {
  color: #ffffff;
  background-color: #ffad47;
  border-color: #ffad47;
}

.label.pending {
  color: #000000;
  background-color: #efa093;
  border-color: #efa093;
}

.label.project {
  background-color: #a4c2f4;
  border-color: #a4c2f4;
  color: #000;
}

.label.reference {
  background-color: #ffd6a2;
  border-color: #ffd6a2;
  color: #000;
}

.label.location {
  background-color: #b9e4d0;
  border-color: #b9e4d0;
  color: #000;
}

.label.command {
  background-color: #b9e4d0;
  border-color: #b9e4d0;
  color: #000;
}

video {
  width: 100%;
}

.video-react
  .video-react-volume-menu-button.video-react-menu-button-inline
  .video-react-menu-content,
.video-react .video-react-progress-control .video-react-mouse-display:after,
.video-react .video-react-progress-control .video-react-mouse-display,
.video-react,
.video-react .video-react-poster {
  background-color: white !important;
}

h6 {
  margin-bottom: 0;
}

h4 > a {
  font-size: 1.4em;
  color: #83a9e6;
}
