{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "esmodules": true
          }
        }
      }
    ],
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    [
      "markdown",
      {
        "html": true,
        "plugins": [
          [
            "anchor",
            {
              "permalink": true,
              "permalinkBefore": true
            }
          ],
          "toc-done-right"
        ]
      }
    ],
    "babel-plugin-inline-import"
  ]
}
